.b_menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    & li {
        display: initial;
        padding-bottom: 0;
        &::before {
            content: none;
        }
    }
}
.b_menu a {
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-bottom: 3px solid var(--pale);
    text-decoration: none;
    color: var(--pale);
    transition: .25s;
    &:hover,
    &:focus {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        opacity: .75;
    }
    &.is_active {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        pointer-events: none;
    }
}
