@use "../../../../../../css/reset/destyle.css";

@use "../../../../../../css/layout/layout";
@use "../../../../../../css/nav/tabNav";
@use "../../../../../../css/container/flex";
@use "../../../../../../css/list/two_column_list";

:root {
    --bgColor: #eee;
    --textColor: #333;
    --textColor_weak: #777;
    --mainColor: #1f84d7;
    }