@use "blues";
@use "base";
@use "layout";
@use "flex";
@use "menu";
@use "logo_title";
@use "two_column_list";


.b_menu {
    margin-top: 1rem;
}


#home_menu a {
    text-decoration: none;
    font-size: larger;
    &:hover,
    &:focus {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        opacity: .75;
    }
}


.b_langSelector {
    font-size: 0.8rem;
    & a {
        text-decoration: none;
    }
    & .is_active {
    color: var(--mainColor);
    pointer-events: none;
    }
}
@media (max-width: 768px) {
    .b_langSelector {
        min-width: fit-content;
    }
}














#edu_ul .b_2col_list_1st {
    flex-basis: 8.5em;
}
#edu_ul_ja .b_2col_list_1st {
    flex-basis: 5.5em;
}
#his_ul .b_2col_list_1st,
#orgnz_ul .b_2col_list_1st,
#funds_ul .b_2col_list_1st {
    flex-basis: 10em;
}
@media (max-width: 768px) {
    #edu_ul .b_2col_list_1st {
        flex-basis: 4em;
    }
    #his_ul .b_2col_list_1st,
    #orgnz_ul .b_2col_list_1st,
    #funds_ul .b_2col_list_1st {
        flex-basis: 5em;
    }
}