@use "blues";


html {
    font-size: 18px;
}
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

body,
body *,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    line-height: 160%;
    background-color: var(--bgColor);
    color: var(--textColor);
}


img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


a {
    color: var(--textColor_weak);
    text-decoration-color: var(--pale);
    text-decoration-thickness: 1px;
}


ul {
    & > li {
        margin-bottom: 0.5rem;
        display: flex;
        &::before {
            content: "â—";
            font-size: 50%;
            color: var(--textColor);
            flex: 0 0 1rem;
        }
    }
}


ol {
    counter-reset: orderedItem;
    & > li {
        margin-bottom: 0.5rem;
        display: flex;
        &::before {
            counter-increment: orderedItem;
            content: counter(orderedItem)".";
            flex: 0 0 1rem;
            text-align: right;
            margin-right: 1rem;
        }
    }
}











/*layout*/
.l_header {
    padding-top: 1.5rem;
    border-bottom: 1px solid var(--mainColor);
    &_inner {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.l_head_ttl {
    color: var(--lightPlus);
}


.l_content {
    padding: 4rem 1rem;
}

.l_art_ttl {
    color: var(--mainColor);
    border-left: 5px solid var(--mainColor);
    margin-left: 5px;
}
.l_sect {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &_ttl {
        font-size: 110%;
        color: var(--strong);
        border-left: 3px solid var(--strong);
        margin-left: 3px;
    }
}
.l_subSect {
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    &_ttl {
        font-size: 105%;
        color: var(--bright);
        margin-left: 0.2rem;
    }
}
.l_para {
    color: var(--soft);
    font-size: 90%;
    font-family: sans-serif;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    &:last-of-type {
        padding-bottom: 0;
    }
    & > ul {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.l_footer {
    margin-bottom: 2rem;
    border-top: 1px solid var(--mainColor);
    &_inner {
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        font-size: smaller;
        font-family: sans-serif;
    }

}









/*parts*/
.b_logoTtl_wrapper {
    display: flex;
    justify-content: space-between;
}
.b_logoTtl {
    display: flex;
    align-items: flex-end;
    height: 3em;
    &_logo {
        height: 3em;
        margin-right: 1em;
        flex-grow: 0;
        flex-shrink: 0;
    }
    &_ttl {
        min-width: fit-content;
    }
}





.b_menu ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    & > li {
        display: initial;
    }
    & > li::before {
        content: none;
    }
}
.b_menu a {
    display: inline-block;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    border-bottom: 3px solid var(--pale);
    text-decoration: none;
    color: var(--pale);
    transition: .25s;
    &:hover,
    &:focus {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        opacity: .75;
    }
    &.is_active {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        pointer-events: none;
    }
}
.b_menu {
    margin-top: 1rem;
}


#home_menu a {
    text-decoration: none;
    font-size: larger;
    &:hover,
    &:focus {
        border-bottom-color: var(--mainColor);
        color: var(--mainColor);
        opacity: .75;
    }
}


.b_langSelector {
    font-size: 0.8rem;
    & a {
        text-decoration: none;
    }
    & .is_active {
    color: var(--mainColor);
    pointer-events: none;
    }
}
@media (max-width: 768px) {
    .b_langSelector {
        min-width: fit-content;
    }
}












.b_2col_list > li::before {
    content: none;
}
.b_2col_list_1st {
    flex: 0 0 4em;
    margin-right: 1ex;
}
.b_2col_list_2nd {
    flex: 1 1 auto;
}
ol.b_2col_list .b_2col_list_1st {
    flex: 0 0 1em;
    text-align: right;
}
ol.b_2col_list__99 .b_2col_list_1st {
    flex: 0 0 2em;
}








#edu_ul .b_2col_list_1st {
    flex-basis: 8.5em;
}
#his_ul .b_2col_list_1st,
#orgnz_ul .b_2col_list_1st,
#funds_ul .b_2col_list_1st {
    flex-basis: 10em;
}
@media (max-width: 768px) {
    #edu_ul .b_2col_list_1st {
        flex-basis: 4em;
    }
    #his_ul .b_2col_list_1st,
    #orgnz_ul .b_2col_list_1st,
    #funds_ul .b_2col_list_1st {
        flex-basis: 5em;
    }
}