@charset "UTF-8";
:root {
  --bgColor: #efefef;
  --textColor: #333;
  --textColor_weak: #777;
  --mainColor: #005ba5;
  --bright: #2981c0;
  --strong: #005b9b;
  --deep: #004280;
  --lightPlus: #6c9ac5;
  --light: #83a7c8;
  --soft: #5d7ea0;
  --dull: #34597d;
  --dark: #123452;
  --palePlus: #afc0d1;
  --pale: #c2ccd5;
  --lightGrayish: #9ba5af;
  --grayish: #4c5765;
  --darkGrayish: #222933;
}

html {
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
body,
body *,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
  line-height: 160%;
  background-color: var(--bgColor);
  color: var(--textColor);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: var(--textColor_weak);
  -webkit-text-decoration-color: var(--pale);
          text-decoration-color: var(--pale);
  text-decoration-thickness: 1px;
}

ul > li {
  margin-bottom: 0.5rem;
  display: flex;
}
ul > li::before {
  content: "●";
  font-size: 50%;
  color: var(--textColor);
  flex: 0 0 1rem;
}

ol {
  counter-reset: orderedItem;
}
ol > li {
  margin-bottom: 0.5rem;
  display: flex;
}
ol > li::before {
  counter-increment: orderedItem;
  content: counter(orderedItem) ".";
  flex: 0 0 1rem;
  text-align: right;
  margin-right: 1rem;
}

/*layout*/
.l_header {
  padding-top: 1.5rem;
  border-bottom: 1px solid var(--mainColor);
}
.l_header_inner {
  padding-right: 1rem;
  padding-left: 1rem;
}

.l_head_ttl {
  color: var(--lightPlus);
}

.l_content {
  padding: 4rem 1rem;
}

.l_art_ttl {
  color: var(--mainColor);
  border-left: 5px solid var(--mainColor);
  margin-left: 5px;
}

.l_sect {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.l_sect_ttl {
  font-size: 110%;
  color: var(--strong);
  border-left: 3px solid var(--strong);
  margin-left: 3px;
}

.l_subSect {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.l_subSect_ttl {
  font-size: 105%;
  color: var(--bright);
  margin-left: 0.2rem;
}

.l_para {
  color: var(--soft);
  font-size: 90%;
  font-family: sans-serif;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
.l_para > ul {
  padding-right: 1rem;
  padding-left: 1rem;
}

.l_footer {
  margin-bottom: 2rem;
  border-top: 1px solid var(--mainColor);
}
.l_footer_inner {
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
  font-size: smaller;
  font-family: sans-serif;
}

/*parts*/
.b_logoTtl_wrapper {
  display: flex;
  justify-content: space-between;
}

.b_logoTtl {
  display: flex;
  align-items: flex-end;
  height: 3em;
}
.b_logoTtl_logo {
  height: 3em;
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}
.b_logoTtl_ttl {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.b_menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.b_menu ul > li {
  display: initial;
}
.b_menu ul > li::before {
  content: none;
}

.b_menu a {
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 30px;
  border-bottom: 3px solid var(--pale);
  text-decoration: none;
  color: var(--pale);
  transition: 0.25s;
}
.b_menu a:hover, .b_menu a:focus {
  border-bottom-color: var(--mainColor);
  color: var(--mainColor);
  opacity: 0.75;
}
.b_menu a.is_active {
  border-bottom-color: var(--mainColor);
  color: var(--mainColor);
  pointer-events: none;
}

#home_menu a {
  text-decoration: none;
  font-size: larger;
}
#home_menu a:hover, #home_menu a:focus {
  border-bottom-color: var(--mainColor);
  color: var(--mainColor);
  opacity: 0.75;
}

.b_langSelector {
  font-size: 0.8rem;
}
.b_langSelector a {
  text-decoration: none;
}
.b_langSelector .is_active {
  color: var(--mainColor);
  pointer-events: none;
}

@media (max-width: 768px) {
  .b_langSelector {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
.b_2col_list > li::before {
  content: none;
}

.b_2col_list_1st {
  flex: 0 0 4em;
  margin-right: 1ex;
}

.b_2col_list_2nd {
  flex: 1 1 auto;
}

ol.b_2col_list .b_2col_list_1st {
  flex: 0 0 1em;
  text-align: right;
}

ol.b_2col_list__99 .b_2col_list_1st {
  flex: 0 0 2em;
}

#edu .b_2col_list_1st {
  flex-basis: 8.5em;
}

#edu .ja .b_2col_list_1st {
  flex-basis: 6em;
}

#his .b_2col_list_1st,
#organization .b_2col_list_1st,
#funds .b_2col_list_1st {
  flex-basis: 10em;
}

@media (max-width: 768px) {
  #edu .b_2col_list_1st {
    flex-basis: 4em;
  }
  #his .b_2col_list_1st,
#organization .b_2col_list_1st,
#funds .b_2col_list_1st {
    flex-basis: 5em;
  }
}
/*# sourceMappingURL=mypage.css.map */