/*reset*/
body * {
    margin: 0%;
    padding: 0%;
}
/*reset*/


body {
    max-width: 1000px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
    color: #222;
    font-family: sans-serif;
    font-size: 14pt;
}

header, main, footer {
    margin-left: 15px;
    margin-right: 15px;
}

header {
    border-bottom-style: solid;
    border-bottom-color: aqua;
    border-bottom-width: 0.2em;
    margin-bottom: 1em;
}

footer {
    border-top-style: solid;
    border-top-color: aqua;
    border-top-width: 0.2em;
    margin-top: 1em;
}

/*menu*/
.b_glMenu {
    display: flex;
    align-items: flex-end;
    height: 3em;
}
.logo,
.logo img {
    height: 100%;
    width: auto;
}

/*nav*/
.b_tabNav > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.b_tabNav > ul > li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    border-left: 0.1em solid rgb(1, 157, 157);
}
.b_tabNav > ul > li.is_active {
    background-color: rgb(207, 207, 207);
    pointer-events: none;
}
.b_tabNav > ul > li:first-of-type {
    border-left-style: none;
}
.b_tabNav > ul > li > a {
    text-decoration: none;
}
.b_tabNav > ul > li > a:focus,
.b_tabNav > ul > li > a:hover {
    color: red;
}

/*box*/
.b_sect {
    margin-top: 2em;
    margin-left: 1em;
}
.b_subsect {
    margin-top: 1em;
    margin-left: 0.5em;
}

.b_para {
    margin-top: 1em;
    margin-left: 0.5em;
    line-height: 150%;
}

.b_subsect > .b_para {
    margin-top: 0.5em;
    margin-left: 0.3em;
    line-height: 100%;
}

.b_ol > li,
.b_ul > li {
    margin-top: 1em;
}
.b_ol > li {
    margin-left: 2.5ex;
}
.h_ol__99 > li {
    margin-left: 3.5ex;
}
/*box*/

/*heading*/
.b_art_ttl,
.b_sect_ttl {
    border-left-style: solid;
    border-left-color: aqua;
    border-left-width: 0.2em;
    padding-left: 0.1em;
}
.b_subsect_ttl {
    width: max-content;
    border-bottom: 0.1em solid aqua;
    padding-left: 0.1em;
}

.b_art_ttl {
    font-size: 200%;
}

.b_sect_ttl {
    font-size: 150%;
}

.b_subsect_ttl {
    font-size: 110%;
}
/*heading*/