:root {
    --bgColor: #f6f0e8;
    --color: #333;
    --mainColor: #3FBFBF;
    --difColor: rgb(234, 233, 220);
}

body * {
    margin: 0%;
    padding: 0%;
}

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 14pt;
    line-height: 160%;
    background-color: var(--bgColor);
    color: var(--color);
}

img {
    max-width: 100%;
    vertical-align: top;
}


.l_header {
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid var(--mainColor);
}
.l_header_inner {
    padding-right: 15px;
    padding-left: 15px;
}

.l_header_inner__flex {
    display: flex;
    align-items: flex-end;
    height: 3em;
}
.l_header_inner__flex img {
    height: 3em;
    margin-right: 1em;
}


.l_content {
    padding: 60px 15px;
}


.l_footer {
    padding-bottom: 20px;
    border-top: 1px solid var(--mainColor);
}
.l_footer_inner {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}


.b_tabPages_nav > ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.b_tabPages_nav li {
    flex-grow: 1;
    text-align: center;
}
.b_tabPages_nav li:focus,
.b_tabPages_nav li:hover {
    background-color: var(--mainColor);
    color: var(--difColor);
}
.b_tabPages_nav .is_active {
    background-color: var(--mainColor);
    color: var(--difColor);
    pointer-events: none;
}
.b_tabPages_pages > article {
    padding: 1em 0;
}


.b_art,
.b_art_sect,
.b_art_subsect,
.b_art p {
    margin-left: 1em;
}
.b_art_sect {
    margin-bottom: 2em;
}
.b_art_subsect {
    margin-bottom: 1.5em;
}
.b_art p {
    margin-bottom: 1em;
}
.b_art_ttl,
.b_art_sect_ttl,
.b_art_subsect_ttl {
    font-size: 150%;
    border-left-style: solid;
    border-left-color: var(--mainColor);
    border-left-width: 0.2em;
    margin-bottom: 1ex;
}
.b_art_sect_ttl {
    font-size: 120%;
}
.b_art_subsect_ttl {
    font-size: 110%;
    border-left: none;
}








.b_2col_list li {
    display: flex;
    margin-left: 1em;
    margin-bottom: 0.5em;
}
.b_2col_list_1st {
    flex: 0 0 5em;
    margin-right: 1ex;
}
#edu .b_2col_list_1st {
    flex-basis: 8.3em;
}
#his .b_2col_list_1st,
#funds .b_2col_list_1st {
    flex-basis: 9.5em;
}
.b_2col_list_2nd {
    flex: 1 1 auto;
}
ol.b_2col_list .b_2col_list_1st {
    flex: 0 0 1em;
    text-align: right;
}
ol.b_2col_list__99 .b_2col_list_1st {
    flex: 0 0 2em;
}