:root {
    --bgColor: #ffffff;
    --textColor: #333;
    --textColor_weak: #777;
    --mainColor: #005ba5;
    --bright: #2981c0;
    --strong: #005b9b;
    --deep: #004280;
    --lightPlus: #6c9ac5;
    --light: #83a7c8;
    --soft: #5d7ea0;
    --dull: #34597d;
    --dark: #123452;
    --palePlus: #afc0d1;
    --pale: #c2ccd5;
    --lightGrayish: #9ba5af;
    --grayish: #4c5765;
    --darkGrayish: #222933;
}

body * {
    margin: 0%;
    padding: 0%;
}

body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: serif;
    font-size: 18pt;
    line-height: 160%;
    background-color: var(--bgColor);
    color: var(--textColor);
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    color: currentColor;
}


ul > li {
    display: flex;
}
ul > li::before {
    content: "â—";
    font-size: small;
    color: var(--textColor);
    flex: 0 0 1.5em;
}

ol {
    counter-reset: orderedItem;
}
ol > li {
    display: flex;
}
ol > li::before {
    counter-increment: orderedItem;
    content: counter(orderedItem)".";
    flex: 0 0 1.5em;
    text-align: right;
    margin-right: 1em;
}




